amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.0
billiard==3.3.0.23
celery==3.1.25
click==6.7
Flask==0.12
Flask-AppFactory==0.2.1
Flask-CeleryExt==0.2.2
Flask-CLI==0.4.0
Flask-Registry==0.2.0
itsdangerous==0.24
Jinja2==2.9.5
kombu==3.0.37
MarkupSafe==0.23
packaging==16.8
pyparsing==2.1.10
pytz==2016.10
six==1.10.0
Werkzeug==0.11.15
